<%= form_with(model: suggest, local: true) do |form| %>
  <% if suggest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suggest.errors.count, "error") %> prohibited this suggest from being saved:</h2>

      <ul>
      <% suggest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :suggest_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :suggest_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :suggest_price %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :suggest_image %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :suggest_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
