<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @suggest.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggest.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @suggest.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @suggest.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @suggest.status %>
</p>

<%= link_to 'Edit', edit_suggest_path(@suggest) %> |
<%= link_to 'Back', suggests_path %>
